<!doctype html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{name}}</title>
    <link rel="shortcut icon" type="image/png" href="http://abotars.hipch.at/bot/{{key}}.png">
    <link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/5.9.6/css/aui.min.css" media="all">
    <link rel="stylesheet" href="{{furl '/css/homepage.css'}}">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="//aui-cdn.atlassian.com/aui-adg/5.9.6/js/aui.min.js"></script>
  </head>

  <body id="aui-flatpack" class="aui-page-fixed">
    <section id="content" role="main">
      <header class="aui-page-header">
        <div class="aui-page-header-inner">
          <div class="aui-page-header-main intro-header">
            <div class="aui-group">
              <div class="aui-item addon-logo">
                <img src="img/logo.png" alt="{{name}}">

                <div>
                  <a href="https://www.hipchat.com/addons/install?url={{links.self}}" class="aui-button aui-button-primary"
                     title="Install this add-on in HipChat"><span
                      class="aui-icon aui-icon-small aui-iconfont-hipchat"></span>
                    Add to HipChat</a>
                </div>
              </div>
              <div class="aui-item">
                <h1>
                  {{name}}
                  <small class="vendor">By <a href="{{vendor.url}}">{{vendor.name}}</a></small>
                </h1>
                <p class="subtitle">
                  {{description}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </header>
      <div class="aui-page-panel addon-intro-page">
        <div class="aui-page-panel-inner">
          <section class="aui-page-panel-item">
            <div class="aui-group">
              <div class="aui-item">
                <p>
                  FightFour is a lightweight game that can be installed on any HipChat server. The idea is that 2 players are given a grid. Players take turns dropping tokens(red or black depending on the player) into the top of the grid. The tokens drop to the bottom, but can be stacked on top of each other. The first person to get 4 in a row, either horizontally, vertically, or diagonal wins. Because FightFour is a HipChat game, it can be played by only typing in a couple of commands:
                  <ul>
                    <li>
                      <code>challenge</code> - Begins a game renders an empty grid for visual reference. Must be followed by the tagged username you want to challenge.
                    </li>
                    <li>
                      <code>drop</code> - Drops a token down the column of your choice. Must be followed by the number column you want the token to fall in (1-7).
                    </li>
                    <li>
                      <code>cancel</code> - only one game can be played in a room at a time to prevent confusion. If you want to start a new game in a room where one hasn't been completed(i.e. no winner) then you'll need to cancel it.
                    </li>
                  </ul>
                </p>
              </div>
            </div>
          </section>
        </div>
        <footer id="footer" role="contentinfo">
          <section class="footer-body">
            <ul id="aui-footer-list">
              <li><a href="https://hipchat.com">HipChat</a></li>
              <li><a href="https://developer.atlassian.com/hipchat">Developers</a></li>
              <li>Copyright © 2016 Atlassian</li>
            </ul>
            <div id="footer-logo"><a href="http://www.atlassian.com/">Atlassian</a></div>
          </section>
        </footer>
      </div>
    </section>
  </body>

</html>